.highlight {
    background-color: red;
}

#icon {
    width: 180px;
    height: 100px;
}

header {
    width: 600px;
    height: 100px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-top: -50px;
    margin-left: -300px;
    color: limegreen;
    font-weight: bold;
}

main {
    width: 600px;
    height: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -300px;
    color: white;
}

footer {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 600px;
    color: white;
    margin-left: -300px;
    text-align: center;
    border-top: deepskyblue;
    border: solid;
}

body {
    background-image: url("../img/bgimage.jpg");
}

.startStop {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 80px;
}

.yellow {
    color: yellowgreen;
}

.completedText {
    color: darkgray;
}

.wrong {
    color: red;
}

/*.topList {*/
/*    width: 45%;*/
/*}*/

/*.bottomList {*/
/*    width: 45%;*/
/*}*/

.listItem {
    width: 150px;
    display:inline-block;
    list-style-type: none;
    margin-right: 10px;
}

.selection {
    float: right;
    padding-top: 40px;
    padding-right: 20px;
}

.points {
    position: fixed;
    top: 72%;
    left: 50%;
    margin-top: -50px;
    margin-left: -175px;
    padding-top: 30px;
}

.textBox {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.textInfo {
    width: 400px;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.textGame {
    width: 450px;
    height: 300px;
    position: fixed;
    top: 43%;
    left: 50%;
    margin-top: -150px;
    margin-left: -225px;
    background-color: black;
    border-style: groove;
    border-color: yellow;
    border-radius: 10px;
}

#letterBox {
    width: 200px;
    height: 25px;
}

.inputTyping {
    width: 200px;
    height: 25px;
    position: fixed;
    top: 60%;
    left: 50%;
    margin-top: -12.5px;
    margin-left: -100px;
    padding-top: 30px;
}